name: Links

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.0.2
        with:
          args: >-
            --verbose
            --no-progress
            --exclude '{{.*}}'
            --exclude '/assets/**/*'
            --exclude 'https://stackoverflow.com/*'
            --exclude 'https://kipac.stanford.edu/'
            '**/*.md'
            '**/*.html'
          fail: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
